[submodule "vagrant/puppet/modules/curl"]
	path = vagrant/puppet/modules/curl
	url = git@github.com:experience/vagrant-puppet-curl.git
[submodule "vagrant/puppet/modules/composer"]
	path = vagrant/puppet/modules/composer
	url = git@github.com:experience/vagrant-puppet-composer.git
[submodule "vagrant/puppet/modules/puppet-mysql"]
	path = vagrant/puppet/modules/puppet-mysql
	url = git@github.com:camptocamp/puppet-mysql.git
[submodule "vagrant/puppet/modules/puppet-augeas"]
	path = vagrant/puppet/modules/puppet-augeas
	url = git@github.com:camptocamp/puppet-augeas.git
